<div class="container">
  <h1>Transactions</h1>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="filter" [(ngModel)]="filter" value="all"> All
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="filter" [(ngModel)]="filter" value="income"> Income
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="filter" [(ngModel)]="filter" value="outcome"> Outcome
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" [(ngModel)]="hideMined" > Hide Mined
    </label>
  </div>
  <ul class="list-group">
    <ng-container *ngFor="let transaction of transactions">
      <li class="list-group-item" *ngIf="isFiltered(transaction)">
        From {{transaction.from}} to {{transaction.to}} for amount {{transaction.amount}}
      </li>
    </ng-container>
  </ul>
</div>
